// Global variables here
$head-color: #FECB00;
$background-color: #FFFFFF;
$info-background: #151950;
$react-color: #53d2fa;
$link-color: #71A6FF;
$white: #FFFFFF;
$black: #000;
$linkcolor: #c20000;
$darkgrey: #383b3d;
$lightgrey: #6d6f71;

$tiger-team: #FF6358;
$lemon-team: #FFD246;
$organic-team: #55AB1D;
$ocean-team: #28B4C8;